# Binaries

# IDE and editor settings
.vscode/

# Go-specific ignores
*.exe
*.out
*.test
day01/day01
day02/day02
day03/day03
day04/day04
day05/day05
day06/day06
day07/day07
day08/day08
day09/day09
day10/day10
